Please use the Data.xlsx file to investigate the effect of independent variables (price per square foot, number of bathrooms, and floor size) on the price of a high-floor, spacious 2-bedroom house with a spectacular view, available at an affordable price. The null hypothesis (H0) states that there is no significant effect of the independent variables on the price. The alternative hypothesis (H1) suggests that there is a significant effect of the independent variables on the price. The objective is to test this hypothesis using the provided data in the "Data" Excel file.
 
Selection of Confidence Level: A 95% confidence level is chosen to determine the range within which the true parameter value is likely to fall. A 95% confidence interval covers 95% of the normal curve, meaning that there is a 5% probability of observing a value outside of this range.

 Statistical Test or Model: To test the hypothesis, a multiple regression analysis is conducted. This analysis helps determine the relationship between the dependent variable (price) and the independent variables (price per square foot, number of bathrooms, and floor size).

In [1]:
import pandas as pd
import statsmodels.api as sm

In [2]:
df = pd.read_excel('/Users/mymac/Documents/Data Science Bootcamp/Week 8 - Stats Hypothesis Testing etc/Project 2/Dataset_1.xlsx')

In [3]:
df.head()

,DESCRIPTION,EXTRACT_DATE,DATA_SOURCE,PROPERTY_TYPE,LOCATION,REGION,PRICE,FLOOR_SIZE,NO_OF_BEDROOMS,NO_OF_BATHROOMS,PRICE_SQFT,Unnamed: 11
0,A Lovely Apartment Perfect As Your Next Home,20211028,Dubizzle,Rent,Yas Island,Abu Dhabi,85000,1068,2,2,79.588015,NaN
1,A Resort Style Lifestyle With Water Views,20211028,Dubizzle,Rent,Yas Island,Abu Dhabi,79960,1050,2,2,76.152381,NaN
2,A Splendid Apartment With Multiple Functions,20211028,Dubizzle,Rent,Yas Island,Abu Dhabi,85000,1044,2,2,81.417625,NaN
3,AMAZING 2BD DIRECT FROM LANDLORD,20211028,Dubizzle,Rent,Yas Island,Abu Dhabi,115000,1472,2,3,78.125000,NaN
4,AMAZING VIEW | Book Now! | Flexible Payment,20211028,Dubizzle,Rent,Yas Island,Abu Dhabi,84995,1674,2,3,50.773596,NaN

In [4]:
df.drop(columns=df.columns[-1], inplace=True)
df.head()

,DESCRIPTION,EXTRACT_DATE,DATA_SOURCE,PROPERTY_TYPE,LOCATION,REGION,PRICE,FLOOR_SIZE,NO_OF_BEDROOMS,NO_OF_BATHROOMS,PRICE_SQFT
0,A Lovely Apartment Perfect As Your Next Home,20211028,Dubizzle,Rent,Yas Island,Abu Dhabi,85000,1068,2,2,79.588015
1,A Resort Style Lifestyle With Water Views,20211028,Dubizzle,Rent,Yas Island,Abu Dhabi,79960,1050,2,2,76.152381
2,A Splendid Apartment With Multiple Functions,20211028,Dubizzle,Rent,Yas Island,Abu Dhabi,85000,1044,2,2,81.417625
3,AMAZING 2BD DIRECT FROM LANDLORD,20211028,Dubizzle,Rent,Yas Island,Abu Dhabi,115000,1472,2,3,78.125000
4,AMAZING VIEW | Book Now! | Flexible Payment,20211028,Dubizzle,Rent,Yas Island,Abu Dhabi,84995,1674,2,3,50.773596

In [5]:
df.describe()

,EXTRACT_DATE,PRICE,FLOOR_SIZE,NO_OF_BEDROOMS,NO_OF_BATHROOMS,PRICE_SQFT
count,358.0,358.000000,358.000000,358.0,358.000000,358.000000
mean,20211028.0,90035.544693,1320.986034,2.0,2.807263,68.772608
std,0.0,18789.327604,226.662874,0.0,0.583866,11.571150
min,20211028.0,62500.000000,678.000000,2.0,1.000000,45.072115
25%,20211028.0,77250.000000,1108.000000,2.0,2.000000,60.084823
50%,20211028.0,85000.000000,1308.000000,2.0,3.000000,66.381818
75%,20211028.0,99999.750000,1500.000000,2.0,3.000000,76.691992
max,20211028.0,184000.000000,2421.000000,2.0,5.000000,111.034004

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 358 entries, 0 to 357
Data columns (total 11 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   DESCRIPTION      358 non-null    object
 1   EXTRACT_DATE     358 non-null    int64
 2   DATA_SOURCE      358 non-null    object
 3   PROPERTY_TYPE    358 non-null    object
 4   LOCATION         358 non-null    object
 5   REGION           358 non-null    object
 6   PRICE            358 non-null    int64
 7   FLOOR_SIZE       358 non-null    int64
 8   NO_OF_BEDROOMS   358 non-null    int64
 9   NO_OF_BATHROOMS  358 non-null    int64
 10  PRICE_SQFT       358 non-null    float64
dtypes: float64(1), int64(5), object(5)
memory usage: 30.9+ KB

In [7]:
mean_floor_size = df['FLOOR_SIZE'].mean()
mean_floor_size

1320.986033519553

In [8]:
mean_price = df['PRICE'].mean()
mean_price

90035.54469273743

In [9]:
# Dependent variable - price of a high-floor, spacious 2-bedroom house with a spectacular view, available at an affordabledf['DESCRIPTION'] = df['DESCRIPTION'].str.lower()  # convert DESCRIPTION to lowercase for case-insensitive search
df_filtered = df[(df['NO_OF_BEDROOMS']==2) & (df['FLOOR_SIZE']>=1500)]

In [10]:
df_filtered

,DESCRIPTION,EXTRACT_DATE,DATA_SOURCE,PROPERTY_TYPE,LOCATION,REGION,PRICE,FLOOR_SIZE,NO_OF_BEDROOMS,NO_OF_BATHROOMS,PRICE_SQFT
4,AMAZING VIEW | Book Now! | Flexible Payment,20211028,Dubizzle,Rent,Yas Island,Abu Dhabi,84995,1674,2,3,50.773596
11,Be The First Tenant | Amazing Offer Water Vie...,20211028,Dubizzle,Rent,Yas Island,Abu Dhabi,85000,1700,2,3,50.000000
16,Brand New | Access to the Beach | Fascinating ...,20211028,Dubizzle,Rent,Yas Island,Abu Dhabi,125000,1650,2,3,75.757576
17,Brand New | Beach Access | Biggest Layout | 2+...,20211028,Dubizzle,Rent,Yas Island,Abu Dhabi,140000,1560,2,4,89.743590
34,2 BR + Maids Apartment w/ Amazing View Facili...,20211028,Dubizzle,Rent,Yas Island,Abu Dhabi,130000,1636,2,3,79.462103
...,...,...,...,...,...,...,...,...,...,...,...
345,Spacious 2BR+Maidroom Apt on High Floor with S...,20211028,Dubizzle,Rent,Al Reem Island,Abu Dhabi,94999,1650,2,3,57.575152
346,"Water Front Living, maid room, parking, facili...",20211028,Dubizzle,Rent,Al Reem Island,Abu Dhabi,94500,1639,2,3,57.657108
347,Water views ready to move 2br+maid,20211028,Dubizzle,Rent,Al Reem Island,Abu Dhabi,89999,1650,2,4,54.544848
355,ZERO Commission | With Maids Room,20211028,Dubizzle,Rent,Al Reem Island,Abu Dhabi,136000,1858,2,4,73.196986
356,Spacious Modern Living 2BR 04 Layout,20211028,Dubizzle,Rent,Al Reem Island,Abu Dhabi,87000,1507,2,3,57.730591

In [11]:
# Define dependent variable (y) and independent variables (X)
y = df_filtered['PRICE']
X = df_filtered[['PRICE_SQFT', 'NO_OF_BATHROOMS', 'FLOOR_SIZE']]
X = sm.add_constant(X)  # add constant for intercept

In [12]:
# Fit the regression model
model = sm.OLS(y,X).fit()

In [13]:
# Model summary
print(model.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                  PRICE   R-squared:                       0.996
Model:                            OLS   Adj. R-squared:                  0.996
Method:                 Least Squares   F-statistic:                     7983.
Date:                Fri, 21 Jun 2024   Prob (F-statistic):          4.75e-107
Time:                        13:57:42   Log-Likelihood:                -781.33
No. Observations:                  92   AIC:                             1571.
Df Residuals:                      88   BIC:                             1581.
Df Model:                           3
Covariance Type:            nonrobust
===================================================================================
                      coef    std err          t      P>|t|      [0.025      0.975]
-----------------------------------------------------------------------------------
const           -1.115e+05   1820.125    -61.275      0.000   -1.15e+05   -1.08e+05
PRICE_SQFT       1588.9234     11.932    133.167      0.000    1565.211    1612.635
NO_OF_BATHROOMS   -64.3508    228.272     -0.282      0.779    -517.994     389.292
FLOOR_SIZE         70.2538      1.009     69.594      0.000      68.248      72.260
==============================================================================
Omnibus:                       22.201   Durbin-Watson:                   1.595
Prob(Omnibus):                  0.000   Jarque-Bera (JB):               44.583
Skew:                           0.896   Prob(JB):                     2.08e-10
Kurtosis:                       5.902   Cond. No.                     2.35e+04
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 2.35e+04. This might indicate that there are
strong multicollinearity or other numerical problems.

PRICE_SQFT: < 0.001. The p-value is very low, indicating that PRICE_SQFT is statistically significant in predicting PRICE.
NO_OF_BATHROOMS: 0.779. The p-value is high, suggesting that NO_OF_BATHROOMS is not statistically significant in predicting PRICE in this model.
FLOOR_SIZE: < 0.001. The p-value is very low, indicating that FLOOR_SIZE is statistically significant in predicting PRICE.

Conclusion:

Hypothesis Testing: The results suggest that PRICE_SQFT and FLOOR_SIZE have a significant effect on the PRICE of high-floor, spacious 2-bedroom houses with a spectacular view. However, NO_OF_BATHROOMS does not appear to have a significant effect in this model.
Model Fit: The model explains a high proportion of the variance in PRICE, indicating its strong predictive power.